* {
	box-sizing: border-box;
}

.App {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
}

.Grid-Container {
    display: grid;
    grid-template-columns: repeat( 10, 1fr );
}

.Grid-Container > div {
    margin: 1px;
}

.Grid-Container > div:hover {
    background-color: yellow;
}

.Grid-Container > div:hover:nth-child(10n-0) {
    background-color: green;
}

.row {
    display: grid;
    grid-template-columns: repeat( 1, 1fr );
}

.cell {
    margin: 1px;
    padding: 10px;
}

.row > .cell:hover {
    background-color: red;
}

.cell .blue {
    background-color: blue;
}
